extends layout
block head
  script(
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")

block content
  h1= title
  p Welcome to #{title}
  p This a test webpage
  p Test3
  p Translate to UpperCase
  input#input(type="text",placeholder="Enter text")
  ul#results
    script(src="javascripts/trans.js")

